*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main{
  background-color: black;
  height: calc(100vh - 100px);
  overflow: auto;
  color: grey;
  text-align: center;
}

footer{
  background-color: #222222;
  height: 100px;
}

.debug{
  background-color: darkslategrey;
  border: 1px solid white;
}

/*container*/
.container-main{
  margin: 50px 10px;
  padding: 20px;
}

.col{
  display: flex;
  flex-direction: wrap;
}


.name{
  display: flex;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  width: 125px;
  padding: 7px 7px 7px 4px;
  right: 63px;
  bottom: 36px;
}

span{
  color: white;
}